@model SistemaWeb.Models.AreasAd
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        //var row;

        $("#tblUser").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/AreasAdministrativas/JsonAreas")",
                "type": "POST",
                "datatype":"json"
            },
            "pageLength": 10,
            "filter": true,
            "responsivePriority": 1,
            "data": null,
            "columns": [
                {
                    "data": "IdAreaAd", "name": "IdAreaAd", "autoWidth": true, "render":
                        function (data) {
                            return "<a class='botonEditar' href='/AreasAdministrativas/ConfirmarAreaAdministrativa/" + data + "?op=Actualizar'>" + "<i class='fa-solid fa-pen'></i> </a>"
                        },
                    "orderable": false,
                    "searchable": false,
                    "width": "35px"
                },
                {
                    "data": "IdAreaAd", "name": "IdAreaAd", "autoWidth": true, "render":
                        function (data) {
                            return "<a class='botonEliminar' href='/AreasAdministrativas/ConfirmarAreaAdministrativa/" + data + "?op=Eliminar'>" + "<i class='fa-solid fa-trash'></i> </a>"
                        },
                    "orderable": false,
                    "searchable": false,
                    "width": "35px"
                },
                {"data":"nombre","name":"nombre","autoWidth":true},
            ],
            "order": [[2, "asc"]],
            "ColumnDefs": [
                { "bSortable": false, "aTargets": [2] },
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });

    });
</script>

<table id="tblUser" class="table table-striped text-center shadow-sm display" style="width:100%">
    <thead class="table-rojo">
        <tr>
            <th scope="col" class="colBoton">Editar</th>
            <th scope="col" class="colBoton">Eliminar</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>