@using SistemaWeb.Models

@{
    ViewBag.Title = "Resumen de compra";
}

<div class="row align-items-stretch mx-5 mt-3">
    <div class="col">
        <ul class="lineaArbol">
            <li class="text-rojo textoLeyenda">
                Resumen de compra
            </li>
        </ul>
    </div>
</div>

<div class="container w-100 mw-100 p-0">
    <div class="row align-items-stretch mx-5 mt-5">
        <div class="col text-end" >
            <div>
                <div>
                    @foreach (Servicios prod in ViewBag.Carrito)
                    {
                        double cantidad = 0;

                        <div class="row">
                            <div class="text-end col p-0">
                                <span>@prod.nomservicio</span>
                            </div>
                            <div class="w-fit">
                                <span>$@prod.costo</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @foreach (Servicios original in Model)
                                {
                                    if (original.contro == prod.contro)
                                    {
                                        cantidad = (Convert.ToDouble(prod.costo) / Convert.ToDouble(original.costo));
                                    }
                                }

                                <span>@cantidad producto(s)</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-3 mb-4">
                    <h5>Total a pagar:</h5>
                    <h3 class="fw-bold">$@ViewBag.Total</h3>
                </div>
            </div>

            <div class="separarArriba w-50 me-0 ms-auto">
                <div class="row me-0 w-fit ms-auto">
                    <div class="col-3 w-fit">
                        @Html.ActionLink("Seguir comprando", "Index", "Compra", new { }, new { @class = "btn btn-rojo" })
                    </div>
                    <div class="col-3 w-fit pe-0">
                        @Html.ActionLink("Finalizar Compra", "DatosCliente", "Compra", new { }, new { @class = "btn btn-rojo" })
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

